<div *ngIf="success">  
    <div *ngFor= "let alert of alerts">
      <div *ngIf="alert.type == 'success' ">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
    </div>            
  </div>   
  
  <div *ngIf="error">  
    <div *ngFor= "let alert of alerts">
      <div *ngIf="alert.type == 'danger' ">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)" >{{ alert.msg }}</alert>
      </div>
    </div>            
  </div>   


<h1>lista de Usuários</h1>


<div *ngIf="role$ != 0; else nulo">

    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Usuários</th>
                <th [width]="400" scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of role$">

                <td>
                  {{ item.username }}

                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="deleteUser(item.id)">Delete</button>
                </td>

            </tr>

        </tbody>

        
    </table>

</div>


<ng-template #nulo>

    <h3>Nenhum dado encontrado!</h3>

</ng-template>

<ng-template #loading>
    <div *ngIf="erro$ | async ; else loading">
        Erro ao carregar. Tente novamente mais tarde.
    </div>
    <ng-template #loading>
        <span>Carregando lista...</span>
    </ng-template>


</ng-template>

<!-- <pre class="card card-block card-header">{{message}}</pre> -->
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover estee item?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Excluir</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
