
<!-- <ng-template #h  *ngIf="isauth; else l">
    <h3 class="text-center text-info">Você está logado</h3>
</ng-template> -->


    <form   #f="ngForm" class="form" action="" method="post" (ngSubmit)="onSubmit(f)" >        
        <div id="login">
            <h3 class="text-center text-white pt-5">Login form</h3>           
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">                          
                                <h3 class="text-center text-info">Login</h3>
                                <div *ngIf="isInvalidLogin">
                                    <div style="color: red;">
                                        {{retornoError}}
                                    </div>                                   
                                </div>
                                <div class="form-group">
                                    <label for="nome" class="text-info">Username:</label><br>
                                    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="password" class="form-control" id="password" placeholder="senha" name="password" ngModel>
                                </div>
                             
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>
                                        </div>
                                        <div class="col-md-4">
                                            <p><a class="link-opacity-10-hover"  routerLink="/usuario">Cadastre-se</a></p>
                                        </div>
                                    </div>                                    
                                    <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-outline-success btn-lg">Entrar</button> 
                                    </div>
                                </div>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        
        





