agm-map {
    height: 500px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }


  ngx-google-maps {
    display: block;
    height: 100vh;
    width: 100%;
  }

  .gm-style .gm-style-iw {
    height: 100%;
    max-height: 800px !important;
  }