<div class="row">

    <div class="container-fluid">
        <h3>Olá que bom que você chegou até aqui. Escolha abaixo se você será um anjo ou carente.</h3>
    </div>
    
        <div class="card-action" *ngIf="cadastroAnjo == true || cadastroCarente ==true">
            <button (click)="limpaBool()">Retorne</button>
        </div>
    

    <div class="col-sm-6">
        <div class="row" *ngIf="cadastroCarente == false || cadastroAnjo == false">
            <div class="col s12 m7">
                <div class="col s8">
                    <div class="card">
                        <div class="card-image">
                            <img width="30px" height="200px" src="./assets/imageAGM/anjo.png">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Se você deseja ser um colaborador da nossa causa contra a fome e outras miserias no mundo
                                clique no link abaixo e faça seu cadastro.
                            </p>
                        </div><br><br>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card-action">
                                    <button (click)="cadastroUsuarioAnjo()">Cadastre-se - Doador</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="row" *ngIf="cadastroCarente == false || cadastroAnjo == false">
            <div class="col s12 m7">
                <div class="col s8">
                    <div class="card">
                        <div class="card-image">
                            <img width="30px" height="200px" src="./assets/imageAGM/carente.png">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Se você e sua familia necessita de suporte na alimentação então faça sua inscrição.
                                Assim vai ficar mais fácil encontrar você para podermos ajudá-los.
                            </p>
                        </div><br><br>
                        
                       
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card-action">
                                    <button (click)="cadastroUsuarioCarente()">Cadastre-se - pessoa carente</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card-action" *ngIf="cadastroCarente == true">
                                    <button (click)="limpaBool()">Retorne</button>
                                </div>
                            </div>     
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="row g-1">
    <div *ngIf="success">
        <div *ngFor="let alert of alerts">
            <div *ngIf="alert.type == 'success' ">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{
                    alert.msg }}</alert>
            </div>
        </div>
    </div>

    <div *ngIf="error">
        <div *ngFor="let alert of alerts">
            <div *ngIf="alert.type == 'danger' ">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{
                    alert.msg }}</alert>
            </div>
        </div>
    </div>

    <form class="form-horinzontal row g-3 needs-validation" [formGroup]="formulario" *ngIf="cadastroAnjo || cadastroCarente" (ngSubmit)="onsubmit()" #formularios="ngForm">
        <h1>Cadastro de usuários</h1>
        <div class="col-sm-7">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label for="nome">Nome</label>
                        </div>
                        <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome"
                            required>
                        <span class="text-danger"
                            *ngIf="(formulario.get('nome')?.pristine && formulario.get('nome')?.invalid && formulario.get('nome')?.touched)">
                            Nome é obrigatório
                        </span>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label for="password">Password</label>
                        </div>
                        <input type="password" class="form-control" id="password" formControlName="password"
                            placeholder="Password">
                        <span class="text-danger"
                            *ngIf="(formulario.get('password')?.dirty && formulario.get('password')?.invalid && formulario.get('password')?.touched)">
                            <span class="block"
                                [ngClass]="{'text-primary': formulario.get('password')?.value?.match('^(?=.*[A-Z])')}">Pelo
                                menos letra maiúscula.</span>

                            <span class="block"
                                [ngClass]="{'text-primary': formulario.get('password')?.value?.match('(?=.*[a-z])')}">Pelo
                                menos uma letra minúscula.</span>

                            <span class="block"
                                [ngClass]="{'text-primary': formulario.get('password')?.value?.match('(.*[0-9].*)')}">Pelo
                                menos um dígito.</span>

                            <span class="block"
                                [ngClass]="{'text-primary': formulario.get('password')?.value?.match('(?=.*[!@#$%^&*])')}">Pelo
                                menos um caractere especial.</span>

                            <span class="block"
                                [ngClass]="{'text-primary': formulario.get('password')?.value?.match('.{8,}')}">Pelo
                                menos 8
                                caracteres.</span>
                            <!-- A senha deve conter pelo menos um número, uma letra maiúscula e uma
                        letra minúscula e pelo menos 8 caracteres<br />A senha não pode
                        contém espaços em branco -->
                        </span>
                        <span class="text-danger"
                            *ngIf="(formulario.get('password')?.pristine && formulario.get('password')?.invalid &&  formulario.get('password')?.touched ) ">
                            Password é obrigatório
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <div class="col-sm-8">
                        <div class="col-sm-12">
                            <label for="email">Email</label>
                        </div>
                        <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                            id="email" formControlName="email" placeholder="Insira seu melhor Email" required>
                        <span class="text-danger"
                            *ngIf="(formulario.get('email')?.dirty && formulario.get('email')?.invalid &&  formulario.get('email')?.touched) "
                            class="text-error">
                            É necessario um email valido!
                        </span>
                        <span class="text-danger"
                            *ngIf="(formulario.get('email')?.pristine && formulario.get('email')?.invalid &&  formulario.get('email')?.touched) "
                            class="text-error">
                            Email obrigatório!
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <label for="phone">Phone Number</label>
                        </div>
                        <input type="text" class="form-control" id="phone" formControlName="phone"
                            placeholder="Phone Number" required>
                        <span class="text-danger"
                            *ngIf="(formulario.get('phone')?.pristine && formulario.get('phone')?.invalid &&  formulario.get('phone')?.touched) ">
                            Telefone é obrigatório
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="dadosFamilia">

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <label for="Totalpessoas">Total de Pessoas na casa</label>
                            </div>
                            <input type="number" class="form-control" id="Totalpessoas" formControlName="Totalpessoas"
                                placeholder="Informe quantas pessoas moram nessa casa" required>
                            <span class="text-danger"
                                *ngIf="(formulario.get('Totalpessoas')?.pristine && formulario.get('Totalpessoas')?.invalid &&  formulario.get('Totalpessoas')?.touched) ">
                                Favor preencher este campo
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <label for="Menor10">Menores de 10 anos</label>
                            </div>
                            <input type="number" class="form-control" id="Menor10" formControlName="Menor10"
                                placeholder="Informe quantas pessoas menores de 10 anos" required>
                            <span class="text-danger"
                                *ngIf="(formulario.get('Menor10')?.pristine && formulario.get('Menor10')?.invalid &&  formulario.get('Menor10')?.touched) ">
                                Favor preencher este campo
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <label for="Maior60">Maiores de 60 anos</label>
                            </div>
                            <input type="number" class="form-control" id="Maior60" formControlName="Maior60"
                                placeholder="Informe quantas pessoas maiores de 60 anos" required>
                            <span class="text-danger"
                                *ngIf="(formulario.get('Maior60')?.pristine && formulario.get('Maior60')?.invalid &&  formulario.get('Maior60')?.touched) ">
                                Favor preencher este campo
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <label for="Feminino">Total de Mulheres</label>
                            </div>
                            <input type="number" class="form-control" id="Feminino" formControlName="Feminino"
                                placeholder="Informe o total de mulheres que moram nessa casa" required>
                            <span class="text-danger"
                                *ngIf="(formulario.get('Feminino')?.pristine && formulario.get('Feminino')?.invalid &&  formulario.get('Feminino')?.touched) ">
                                Favor preencher este campo
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <label for="Masculino">Total de Homens</label>
                            </div>
                            <input type="number" class="form-control" id="Masculino" formControlName="Masculino"
                                placeholder="Informe o total de homens que moram nessa casa" required>
                            <span class="text-danger"
                                *ngIf="(formulario.get('Masculino')?.pristine && formulario.get('Masculino')?.invalid &&  formulario.get('Masculino')?.touched) ">
                                Favor preencher este campo
                            </span>
                        </div>

                    </div><br>
                </div>
            </div>
        </div>



        <div *ngIf="roleNameAdmin" class="col-sm-5">
            <div class="form-group">

                <h3>Selecione um Role para o usuário</h3>

                <div *ngIf="role$ != 0; else nulo">

                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of role$">
                                <td>
                                    <div class="form-check">
                                        <input formControlName="roleId" type="radio" value={{item.id}}>&nbsp;
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ item.name }}
                                        </label>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <ng-template #nulo>
                <h3>Nenhum dado encontrado!</h3>
            </ng-template>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Enviar</button>
    </form><br><br><br>
</div>